* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/header.png);
  width: 100vw;
  height: 40vh;
  background-position: 10% 20%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  margin: 1em 0;
}

nav h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}

form {
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid var(--gray-300, #d1d5db);
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  margin-bottom: -1.5em;
}

form img {
  max-width: 20px;
  margin: 10px;
}

form input {
  padding: 10px;
  border: none;
}

form button {
  border-radius: 0px 6px 6px 0px;
  border: 1px solid #d1d5db;
  background: #f9fafb;
  color: #374151;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 10px 15px;
}

main {
  margin-top: 1.5em;
  height: 100vh;
  width: 100vw;
}

.initial-state {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.film-icon {
  max-width: 70px;
}

.help-text {
  color: #dfdddd;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.search-result {
  display: flex;
  margin: 0 1em;
  padding: 1em 0;
  gap: 1em;
  border-bottom: 1px solid #e5e7eb;
}

.movie-poster {
  max-width: 100px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.movie-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.movie-header i {
  font-size: 0.7rem;
  color: #fec654;
}

.movie-header p {
  color: #111827;

  font-size: 0.75rem;
  font-weight: 400;
}

.rating {
  display: flex;
  gap: 0.25em;
  align-items: center;
}

.movie-title {
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
}

.movie-subinfo {
  padding: 1em 0;
  display: flex;
  color: #111827;
  font-size: 0.6rem;
  font-weight: 400;
  gap: 1.2em;
}

.movie-subinfo button {
  cursor: pointer;
}

.plot {
  color: #6b7280;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
}

.add-to-watchlist {
  border: none;
  background: none;
  color: #111827;
  font-size: 0.6rem;
  font-weight: 400;
}
.add-to-watchlist i {
  margin-right: 0.2em;
}

.remove-from-watchlist {
  border: none;
  background: none;
  color: #111827;
  font-size: 0.6rem;
  font-weight: 400;
}
.remove-from-watchlist i {
  margin-right: 0.2em;
}
